<h1>{{ name }}</h1>
<img src="{{ flagUrl }}" alt="Flag of France" style="width: 300px; height: 200px;">
<p>Currency: {{ currency }}</p>
<p>Population: {{ population }}</p>
<p>Capital: {{ capital }}</p>
